@model MoviesManagement

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MoviesManagement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.movie_title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.movie_title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.movie_year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.movie_year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.movie_language)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.movie_language)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.movie_date_release)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.movie_date_release)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.movie_ori_country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.movie_ori_country)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.movie_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
